
main {
    max-width: 1000px;
    margin: auto;
}

/* Descendant Selector */
form h1 {
    color: #009;
}

/* child combinator (>) */
form > p {
    font-size: 22px;
}

/* adjacent sibling combinator (+) */
label + input {
    display: block;
    clear: both;
    border:  1px solid red;
}

* + fieldset {
    margin: 5em 0;
    border: 1px solid green;
}

/* general sibling combinator (~) */
label ~ input {
    display: block;
}


/*
Matching Attribute Presence
*/

.matching-attribute {
    margin-top: 50px;
}

.attribute-value {
    color: red;
}

[rel~=friend] {
    font-size: 2em;
    background: #eee;
    padding: 4px;
    text-decoration: none;
    border-bottom: 3px solid #ccc;
}

[rel~=friend]:link, 
[rel~=friend]:visited {
    color: #34444c;
}

[rel~=friend]:hover {
    background: #ffeb3b;
    border-color: #ffc107;
}


/*
Matching Hyphenated Attribute Values
*/
.matching-hypenated {
    margin-top: 50px;
}

/* Language */


[lang|="fr"] {
    font-style: italic;
}

[lang|="fr"] q:before {
    content: '\00AB'; /* Left angle quote */
}

[lang|="fr"] q:after {
    content: '\00BB'; /* Right angle quote */
}

/* Article Promo */



[class|="articlepromo"] {
    border-top: 5px solid #4caf50;
    color: #555;
    line-height: 1.3;
    padding-top:.5em;
}

[class|="articlepromo"] h3 {
    color: #000;
    font-size: 1.2em;
    margin: 0;
}

[class|="articlepromo"] p {
    margin: 0 0 1em;
}

[class|="articlepromo-entertainment"] {
    border-top: 5px solid red;

}

[class|="articlepromo-sports"] {
    border-top: 5px solid blue;
}

[class|="articlepromo-business"] {
    border-color: 5px solid red;
}


/* Matching Attribute Values by Substring */
[href^="tel:"] {
    background: #62717e;
    border-radius: 100px;
    padding: .5em 1em .5em 2em;
    color: white;
}

[href$="5555"] {
    background: #e91e63;
}

/* Pseudo-classes versus Pseudo-elements  */



/* Pseudo-elements */

/* CSS - The ::before Pseudo-element */

/* CSS - The ::after Pseudo-element */

/* The ::first-letter Pseudo-element */
p.first-letter::first-letter {
    font-size: 30px;
    color: white;
    background-color: blue;
    margin: 10px;
    padding: 10px;
    border: 2px solid pink;
    text-decoration: dotted;
}

/* The ::first-line Pseudo-element */
.first-line::first-line {
    color: green;
}

/* CSS - The ::selection Pseudo-element */







